   
    <div class="footer ">
        <footer>
            <div class="container mt-2">
                <div class="row">

                    <div class="footer-about col-sm">
                        <ul>
                            <li class="pt-3"><b>CHÍNH SÁCH CHUNG</b></li>
                            <a href="/posts/chinh-sach-bao-hanh"><li class="float-left ml-5">Chính sách bảo hành</li></a>
                            <a href="/posts/chinh-sach-van-chuyen"><li class="float-left ml-5">Chính sách vận chuyển</li></a>
                            <a href="/posts/chinh-sach-bao-mat"><li class="float-left ml-5">Chính sách bảo mật</li></a>
                            <a href="/posts/thong-tin"><li class="float-left ml-5" style="clear:both">Về chúng tôi</li></a>
                        </ul>
                    </div>
                    <div class="footer-address col-sm">
                        <ul>
                            <li class="pt-3"><b>Liên hệ</b></li>
                            <li class="ml-3"><i class="fas fa-home mt-3 pr-2"></i> Hà Nội, Việt Nam </li>
                            <li class="ml-5"><i class="fas fa-envelope mt-3 pr-2"></i> daoha98@gmail.com </li>
                            <li class="mr-1"><i class="fas fa-phone mt-3 pr-2"></i> +84376214088 </li>
                        </ul>
                    </div>
                    <div class="footer-follow col-sm">
                        <ul>
                            <li class="pt-3"><b>Theo dõi tôi tại</b></li>
                            <li><a class="fb" href="https://www.facebook.com/dao.ha.1998"><i
                                        class="fab fa-facebook fa-2x mt-3 mr-4 pl-3"></i>Facebook </a>
                            </li>
                            <li><a class="gg" href="http://google.com"><i
                                        class="fab fa-google-plus fa-2x mt-3 pr-4"></i>Google</a> </li>
                            <li><a class="it" href="http://intagram.com"><i
                                        class="fab fa-instagram fa-2x mt-3 mr-4 ml-4"></i>Instagram </a>
                            </li>
                            <li><a class="tt" href="http://twitter.com"><i
                                        class="fab fa-twitter fa-2x mt-3 mr-2 pr-3"></i>Twitter </a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-copyright " style="background-color:black; text-align: center;"><i
                    class="fa fa-copyright" aria-hidden="true"></i> <%= new Date().getFullYear() %> Copyright:
                <a href="#"> Đào Nguyên Hà</a>
            </div>
        </footer>
    </div>
    <script>
        const search = document.getElementById('formSearch');
        const btnSearch = document.getElementById('btnSearch');
        search.onchange = function validate(){
            if(search.value == ''){
            btnSearch.disabled = true;
        }else{
            btnSearch.disabled = false;
        }
        } 

    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>