<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%= title %></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<style>
    .navbar {
        height: 60px !important;
    }

    body {
        min-height: 100%;
    }

    body a:hover {
        text-decoration: none;
    }

    div.nav-brand > a {
        color: rgba(255, 255, 255, .5);
    }

    body a:link {
        text-decoration: none;
    }

    footer a {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }

    footer a.fb:hover {
        color: blue;
        background-color: transparent;
        text-decoration: none;
    }

    footer a.gg:hover {
        color: rgb(223, 107, 12);
        background-color: transparent;
        text-decoration: none;
    }

    footer a.it:hover {
        color: violet;
        background-color: transparent;
        text-decoration: none;
    }

    footer a.tt:hover {
        color: cyan;
        background-color: transparent;
        text-decoration: none;
    }

    ul {
        list-style: none;

    }

    li {

        font-size: 20px;
    }

    footer {
        background-color: rgb(52, 79, 122);
        color: aliceblue;
        align-items: center;
    }

    footer div {
        text-align: center;
    }

    div.bottomright {
        position: absolute;
        bottom: 80px;
        right: 16px;
        font-size: 18px;
    }
    @media (max-width: 768px) {
            .navbar-dark .navbar-nav .nav-link {
                color: rgb(0, 0, 0);
                background-color: rgba(255, 255, 255, 0.726);
            }

            .navbar-dark .navbar-nav .nav-link:hover {
                color: red;
            }

            .btn-outline-success {
                background-color: black;
                color: white;
            }
            body > div.footer > footer > div.container.mt-2 > div > div.footer-address.col-sm > ul {
                padding-left: 0;
            }
            body > div.footer > footer > div.container.mt-2 > div > div.footer-follow.col-sm > ul {
                padding-left: 0;
            }
        }
</style>